.App {
  text-align: center;
}

.container {
  margin: 1rem;
}

.buttons {
  margin-top: 1rem;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

h1 {
  display: flex;
  justify-content: center;
}

input {
  width: 100%;
}
